<div class="container" id="modal-edit-pet">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form #modifyForm="ngForm" (ngSubmit)="onSubmit">
                <div class="modal-header justify-content-end border-bottom-0">
                    <button type="button" (click)="updateAnimal()"  class="btn-edit-icon" data-dismiss="modal" aria-label="Close">
                        <i class="mdi mdi-pencil"></i>
                    </button>
                        
                    <button type="button" (click)="deleteAnimal()" class="btn-delete-icon" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-delete"></i>
                    </button>        
                
                    <button type="button" routerLink="/edit/{{animal.id}}" class="btn-close-icon" data-dismiss="modal" aria-label="Close">
                        <i class="mdi mdi-close"></i>
                    </button>
                </div>
    
                <div class="modal-body pt-0">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="profile-content-left px-4">
                                <div class="card text-center px-0 border-0">
                                    <div class="card-img mx-auto">
                                        <img class="rounded-circle" [src]="animal.imageUrl" alt="user image" style="width: 100%; height: 100%;" />
                                    </div>
                                    <div class="form-group">
                                        <label for="imageUrl">Image Url</label>
                                        <input type="text" class="form-control" id="imageUrl" name="imageUrl" [(ngModel)]="animal.imageUrl" value="{{animal.imageUrl}}" />
                                    </div>
    
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="animal.name" value="{{animal.name}}" style="width: 10em;"/>
                                        </div>

                                        <!-- <h4 class="py-2">{{animal.name}}</h4> -->
                                        <div class="form-group">
                                            <label for="kind"><h4>Kind</h4></label>
                                            <input type="text" class="form-control" id="kind" name="kind" [(ngModel)]="animal.kind" value="{{animal.kind}}">
                                            <label for="age"><h4>Age</h4></label>
                                            <input type="text" class="form-control" id="age" name="age" [(ngModel)]="animal.age" value="{{animal.age}}">
                                        </div><!--<p>Kind: {{animal.kind}}<br>Age: {{animal.age}}</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="contact-info px-4">
                                <h4 class="mb-1">Pet Details</h4>
                                <div class="form-group">
                                    <label for="email" class="text-dark font-weight-medium pt-4 mb-2"><h5>Email Address</h5></label>
                                    <input type="text" class="form-control" id="imageUrl" name="imageUrl" [(ngModel)]="animal.email" value="{{animal.email}}" />
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="text-dark font-weight-medium pt-4 mb-2"><h5>Phone Number</h5></label>
                                    <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="animal.phone" value="{{animal.phone}}" />
                                </div>
                                <div class="form-group">
                                    <label for="owner" class="text-dark font-weight-medium pt-4 mb-2"><h5>Owner Number</h5></label>
                                    <input type="text" class="form-control" id="owner" name="owner" [(ngModel)]="animal.owner" value="{{animal.owner}}" />
                                </div>
                                <div class="form-group">
                                    <label for="notes" class="text-dark font-weight-medium pt-4 mb-2"><h5>Note</h5></label>
                                    <textarea rows="4" type="text" id="notes" class="md-textarea md-textarea-auto form-control" mdbInput
                                        [(ngModel)]="animal.notes" name="notes" value="{{animal.notes}}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                
           
            
        </div>
    </div>
</div>